<html>
<head>
{{>header}}

                

</head>

<body>
<br />
<div class="breadcrumb flat">
	<a href="/">Home</a>
	<a href="/globaltrends" class="active">{{title}}</a>
</div>



<div class="wrapper">
    
		<br>
		<div class="contactDiv">
			<br>
			<h4 class="innerDiv" align="left">
				<p>Hello, and welcome to the Global Trends page! <br /> <br/>
					On this page, we ask that you select a desired global trend from the drop down menu.<br /> <br />
					Various graphs will populate on screen, outlining both the general sentiment, and indeed tone of your chosen topic!
				</p>
				<br>
			</h4>
			<br>
		</div><br>

		<div class="contactDiv">
			<br>
            <div class="innerDiv">
                    <h1 align="center"> Placeholder </h1>
			<br>
            </div>

		</div><br><br><br><br><br>
		<div id="app"></div>
	<div id="cookieconsent"></div>
    <footer>
        {{>footer}}
		<div class="footer">
            <a href="/About"><i class="fa fa-question-circle-o"></i>&nbsp;&nbsp;About Us</a>
            <a href="/Contact"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Contact Us</a></p>
        </div>
    </footer>

</div>
	


</body>
</html>
